
@{
    ViewBag.Title = "Sfondo";
}

@using (Html.BeginForm())
{
    <h2>Sfondo</h2>
    <h3>
        Confermi il cambio di sfondo della home page?<br/>
        <button class="btn btn-success" type="submit">Conferma</button>
        <a href="@Url.Action("Sfondo", "Home")" class="btn btn-danger">Annulla</a>
    </h3>
    <hr/>
   <div class="row">
        <div class="col col-md-6">
            <div class="badge">Sfondo attuale</div>
            <img class="img-thumbnail" src="~/Content/Immagini/GalleriaHome/Sfondo/Home.jpg" />
        </div>
        <div class="col col-md-6">
            <div class="badge">Nuovo sfondo</div>
            <img class="img-thumbnail" src="~/Content/Immagini/GalleriaHome/@Request.QueryString["nomefile"]" />
        </div>
    </div>

}
<input id="btn1" type="button" value="refresh" />
<hr />