@{
    ViewBag.Title = "Home Page";
}
<h1></h1>
<table class="table-bordered tbl1">
    <tr>
        <td rowspan="2">
            <a target="_blank" href="~/Content/Documenti/TurnibarSettembre20161.pdf">
                <img src="~/Content/Immagini/demo2.jpg" /><br />
                Turni<br />BAR

            </a>
        </td>
        <td colspan="3">
            <img src="~/Content/Immagini/demo1.jpg" /><br />
            FOTO
        </td>
        <td>
            <img src="~/Content/Immagini/demo3.jpg" /><br />
            Calendario
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <img style="height:40px" src="~/Content/Immagini/demo4.jpg" /><br />
           Orario messe
        </td>
        <td rowspan="4" colspan="2">
            <img src="~/Content/Immagini/demo5.jpg" /><br />
           Articoli in evidenza
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <img src="~/Content/Immagini/demo1.jpg" /><br />
           Prossimi appuntamenti
        </td>
        <td rowspan="2">
            <img src="~/Content/Immagini/demo2.jpg" /><br />
          Associazione<br />Amici di S. Imerio 
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <img src="~/Content/Immagini/demo3.jpg" /><br />
       Storia
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <img src="~/Content/Immagini/demo4.jpg" /><br />
        Contatti
        </td>
    </tr>
</table>
