
@{
    ViewBag.Title = "InfoCookie";
}

<h2>Informazione Cookie</h2>
<div>
    <div>
        <h2>Cookie Policy</h2>
        <p>
            Questo sito utilizza cookie, anche di terze parti, per migliorarne l&#39;esperienza di navigazione e consentire a chi naviga di usufruire dei nostri servizi online e di visualizzare pubblicità in linea con le proprie preferenze.<br />
            <br />
            Se prosegui nella navigazione acconsenti all&#39;utilizzo dei cookie.<br />
        </p>
        <p>
            In qualunque momento è possibile disabilitare i cookies presenti sul browser; ti ricordiamo che quest&#39;opzione potrebbe limitare molte delle funzionalità di navigazione del sito.<br />
        </p>
        <div>
            <h3>
                Istruzioni disabilitazione cookies dai browsers
            </h3>
            <p>
                <em>Se si utilizza Internet Explorer</em><br />
                In Internet Explorer, fare clic su &quot;Strumenti&quot; poi &quot;Opzioni Internet&quot;. Nella scheda Privacy, spostare il cursore verso l&#39;alto per bloccare tutti i cookie o verso il basso per consentire a tutti i cookie, e quindi fare clic su OK.
            </p>
            <br />
            <p>
                <em>Se si utilizza il browser Firefox</em><br />
                Vai al menu &quot;Strumenti&quot; del browser e selezionare il menu &quot;Opzioni&quot; Fare clic sulla scheda &quot;Privacy&quot;, deselezionare la casella &quot;Accetta cookie&quot; e fare clic su OK.
            </p>
            <br />
            <p>
                <em>Se si utilizza il browser Safari</em><br />
                In Browser della votazione, selezionare il menu &quot;Modifica&quot; e selezionare &quot;Preferences&quot;. Clicca su &quot;Privacy&quot;. Posizionare l&#39;impostazione &quot;cookies Block&quot; sempre &quot;e fare clic su OK.
            </p>
            <br />
            <p>
                <em>Se si utilizza il browser Google Chrome</em><br />
                Fai clic sul menu Chrome nella barra degli strumenti del browser. Selezionare &quot;Impostazioni&quot;. Fare clic su &quot;Mostra impostazioni avanzate&quot;. Nella sezione &quot;Privacy&quot;, fai clic sul pulsante &quot;Impostazioni contenuti&quot;. Nella sezione &quot;Cookies&quot;, selezionare &quot;Non consentire ai siti per memorizzare i dati&quot; e di controllo &quot;cookie di blocco e di terze parti i dati sito&quot;, e quindi fare clic su OK.
            </p>
            <br />
            <p>
                Se usi un qualsiasi altro browser, cerca nelle Impostazioni del browser la modalità di gestione dei cookies.
            </p>
        </div>
        <h3>
            Cosa sono i cookies
        </h3>
        <p>
            I cookies sono piccoli file di testo che vengono automaticamente posizionati sul PC del navigatore all&#39;interno del browser. Essi contengono informazioni di base sulla navigazione in Internet e grazie al browser vengono riconosciuti ogni volta che l&#39;utente visita il sito.
        </p>
    </div>
    <div>
        <h3>
            Gestione dei cookie
        </h3>
        <h3>
            Cookie tecnici
        </h3>
        <ul>
            <li>
                <div class="subTit li">
                    Attività strettamente necessarie al funzionamento
                </div>
                <p>
                    Questi cookies hanno natura tecnica e permettono al sito di funzionare correttamente. Ad esempio, mantengono l&#39;utente collegato durante la navigazione evitando che il sito richieda di collegarsi più volte per accedere alle pagine successive.
                </p>
            </li>
            <li>
                <div class="subTit li">
                    Attività di salvataggio delle preferenze
                </div>
                <p>
                    Questi cookie permettono di ricordare le preferenze selezionate dall&#39;utente durante la navigazione, ad esempio, consentono di impostare la lingua.
                </p>
            </li>
            <li>
                <div class="subTit li">
                    Attività Statistiche e di Misurazione dell&#39;audience
                </div>
                <p>
                    Questi cookie ci aiutano a capire, attraverso dati raccolti in forma anonima e aggregata, come gli utenti interagiscono con i nostri siti internet fornendoci informazioni relative alle sezioni visitate, il tempo trascorso sul sito, eventuali malfunzionamenti. Questo ci aiuta a migliorare la resa dei nostri siti internet.
                </p>
            </li>
        </ul>
    </div>
    <div>
        <h3>
            Cookies tecnici atti al corretto funzionamento di servizi terzi
        </h3>
        <p>
            Questi cookie ci permettono di monitorare le performance del sito. Qui di seguito l&#39;elenco dei servizi utilizzati e i link alle rispettive pagine di privacy policy.
        </p>
        <div>
            <div>
                <div>
                    <div>
                        Google Maps
                    </div>
                </div>
                <div>
                    Virtual Tour: componente web
                </div>
                <div>
                    Cookie tecnico strettamente necessario<br />
                </div>
            </div>
        </div>
        <br />
        <h3>
            Cookie di social media sharing
        </h3>
        <p>
            Questi cookie di terza parte vengono utilizzati per integrare alcune diffuse funzionalità dei principali social media e fornirle all&#39;interno del sito. In particolare permettono la registrazione e l&#39;autenticazione sul sito tramite facebook e google connect, la condivisione e i commenti di pagine del sito sui social, abilitano le funzionalità del &quot;mi piace&quot; su Facebook e del &quot;+1&quot; su G+.
            <br />
            E&#39; possibile disabilitare l&#39;uso dei cookies di social media sharing attraverso i link qui di seguito.
        </p>
        <div>
            <div>
                <div>
                    <h3>
                        Facebook
                    </h3>
                </div>
                <div>
                    <a href="https://www.facebook.com/about/privacy/">privacy policy</a>
                </div>
            </div>
            <div>
                <div>
                    <h3>
                        G+
                    </h3>
                </div>
                <div>
                    <a href="https://www.google.com/intl/it/policies/technologies/cookies/">privacy policy</a>
                </div>
            </div>
            <div>
                <div>
                    <h3>
                        Twitter
                    </h3>
                </div>
                <div>
                    <a href="https://twitter.com/privacy">privacy policy</a>
                </div>
            </div>
        </div>
    </div><hr />
    <div>
        In ogni momento potete esercitare i diritti di cui all&#39;art. 7 del Codice in materia di protezione dei dati personali tra i quali accedere alle informazioni che Vi riguardano e chiederne l&#39;aggiornamento, la rettificazione e l&#39;integrazione, nonché la cancellazione, la trasformazione in forma anonima o il blocco solo qualora i medesimi vengano trattati in violazione alla legge. Per questa ed altre richieste rivolgetevi a <a href="mailto:info@civisimmobiliare.it">info@civisimmobiliare.it</a>
    </div>
</div>