
@{
    ViewBag.Title = "permille";
}
<h1 class="text-center">
    Asssociazione Amici di S. Imerio ONLUS
    </h1><hr class="hr1" />
<h2 class="text-center">
    <img class="img-thumbnail" src="~/Content/Immagini/5x1000.png" />

</h2><h1 class="text-center">
    <span class="cf">C.F. 93050270193</span>
</h1>

<h3>Nella dichiarazione dei redditi ricordati della tua parrocchia. 
    A te non costa niente e puoi contribuire al suo futuro.</h3>
<h3>Per farlo devi indicare nella dichiarazine il codice fiscale dell'Asociazione Amici di S.Imerio ONLUS</h3>
