
@{
    ViewBag.Title = "Storia";
}

<h2>Storia</h2>
<h3>Il Carmelo a Cremona e il Movimento Carmelitano dello Scapolare </h3>
<p>Prima  della  fondazione  del  Convento  di  S.
Imerio  esisteva  già  a  Cremona,  presso  la
Chiesa  di  S.  Bartolomeo,  una  comunità  di
Carmelitani  non  riformati  secondo  le  direttive
di   S.   Teresa   d’Avila   e   S.   Giovanni   della
Croce.<br/>
    La  riforma  dell’Ordine  Carmelitano,
voluta e intrapresa dai due Santi a partire dal
1568  in  Spagna,  non  tardò  ad  estendersi
all’Italia   con   la   fondazione   di   conventi   a
Genova (1584) e a Roma (1597). Ma già nel
1593  si  tenne  proprio  a  Cremona  il  Capitolo
Generale dell’Ordine che doveva affrontare la
delicata     questione     dei     rapporti     tra     i
Carmelitani   dell’antica   osservanza   e   quelli
che  avevano  accolto  la  riforma.  Fu  sancita
“propter    bonum    pacis,    tranquillitatis    et
augmentum
totius
Ordinis
”
la
totale
separazione    della    Riforma    dai    Calzati
cosicchè   i   frati   della   Vergine   del   Monte
Carmelo si distinsero in due ordini: i Calzati e
gli Scalzi. Nel 1606 Cremona vide sorgere la
comunità riformata di S. Imerio che si affiancò
a   quella   dei   Calzati   già   esistente   a   S.
Bartolomeo.   Nel   1613   alcune   Carmelitane
Scalze  provenienti  da  Genova  fondarono  a
Cremona  il  monastero  dei  SS.  Giuseppe  e
Teresa.<br/>
Nel    1619,    dopo    la    divisione
dell’Ordine   Carmelitano   in   Provincie   e   la
costituzione della Provincia Lombarda (1617)
comprendente  lo  Stato  Milanese,  il  Veneto  e
l’Emilia, si tenne a Cremona il Primo Capitolo
Provinciale
dei
Carmelitani
Scalzi.
Nonostante la presenza carmelitana riformata
in  centri  più  noti  come  Milano  e  Bologna,  i
Consigli
Provinciali
si
tennero
frequentemente    a    Cremona    sia    per    la
centralità   geografica   sia   per   la   vivacità
spirituale delle comunità in essa esistenti.
I carmelitani “scalzi” a S. Imerio.
La  comunità  carmelitana  riformata  fu  voluta
dal  nobile  Cesare  Vidoni,  marchese  di  S.
Giovanni  in  Croce,  il  cui  fratello  era  divenuto
    <img class="img-thumbnail pull-left" src="~/Content/Immagini/Madonna.JPG" />
frate carmelitano a Genova con il nome di P.
Giovanni  Pietro  dell’Assunzione.<br/>
    Questi,  per
motivi  di  salute,  fu  invitato  dai  superiori  a
ritornare  a  casa.  Alla  fine  del  1605  fu,  infatti,
accompagnato a Cremona da P. Marco della
Purificazione   suo   confratello.   Ambedue   i
religiosi  furono  accolti  dal  marchese  Cesare
che,  con  il  passare  dei  giorni,  fu  così  colpito
dalla     loro     condotta     da     pensare     alla
fondazione   di   una   comunità   riformata.   A
Cremona nel 1593, la Riforma aveva ottenuto
il  legittimo  riconoscimento  e  con  il  favore  dei
fratelli   cardinali   Girolamo   e   Pietro   Vidoni,
d’intesa  con  le  autorità  e  con  il   vescovo
Cesare Speciano, il marchese poté dar corso
alla  fondazione,  acquistando  terreno  e  case
che donò ai Carmelitani  perché vi erigessero
chiesa e convento. La prima pietra fu posta il
13 luglio 1606; due anni dopo si poté iniziare
la  vita  di  comunità;  il  16  luglio  1612  giorno
della B. Vergine del Monte Carmelo la chiesa
fu  dedicata  con  il  titolo  di  S.  Imerio  e  S.
Teresa,   dal   vescovo   G.Battista   Brivio.   Il
convento fu destinato a noviziato fino al 1619
quando,    per    disposizione    del    Capitolo
Provinciale,  divenne  sede  dello  studentato
filosofico dell’Ordine.<br/>
    In virtù di questa nuova
destinazione    si    comprende    il    carattere
specialistico
della
grande
biblioteca
conventuale  che  fu  dispersa  in  seguito  alla
soppressione napoleonica (1805).
Nel   1806   fu   assegnata   alla   chiesa   di   S.
Imerio  la  cura  d’anime  di  S.  Clemente  e
cominciò  il  cammino  della  parrocchia  attuale
di S. Clemente in S. Imerio. <br/>
Movimento carmelitano dello scapolare.
Nonostante  l’allontanamento  dei  frati  e  delle
monache,   la   devozione   alla   Madonna   del
Carmelo ha avuto vita fino ai nostri giorni. Ed
è  stato  il  16  luglio  1995  che  i  parrocchiani  di
S.  Imerio,  aiutati  a  festeggiare  la  Madonna
del Carmelo dal Carmelitano Scalzo P. Enrico
Aiolfi   e   da   alcuni   laici   venuti   con   lui   da
Monza,   furono   informati   del   costituendo
movimento laicale che si ispira alla spiritualità
carmelitana
teresiana
denominato
“
Movimento   Carmelitano   dello   Scapolare
”.
Quel giorno erano presenti, tra gli altri, alcuni
parrocchiani che decisero di approfondirne la
conoscenza    del    Movimento.    Tra    questi
parrocchiani
erano
presenti
l’attuale
responsabile  della  fraternità  di  Cremona  ed
alcune  amiche  con  le  quali  si  iniziò  la  vita  di
questa  fraternità  nella  nostra  città.  In  sintesi
la  storia  del  Movimento  Carmelitano  dello
Scapolare
“M.C.S.”:
il
Movimento
Carmelitano    dello    Scapolare    è    nato    a
Concesa di Trezzo d’Adda (Milano), presso il
Santuario  della  Divina  Maternità  di  Maria  dei
Padri Carmelitani Scalzi, il 6 novembre 1994.
Alla   fine   del   1998,   fr.   Camillo   Maccise,
Preposito   Generale   carmelitano   ha   reso
ufficialmente  il  M.C.S.  partecipe  di tutti  i  beni
e  le  opere  dell’intero  Ordine.<br/>
    Subito  dopo,  il
25   gennaio   1999   il   Definitorio   Generale
dell’Ordine, ha approvato gli statuti particolari
del  nostro  Movimento,  che  ha  sede  generale
nel  convento  dei  Padri  Carmelitani  Scalzi  di
Monza.
Gli aderenti al Movimento Carmelitano  dello  Scapolare  sono  fedeli  laici
rivestiti    dello    scapolare    che    desiderano
essere  testimoni  credibili  della  gioia  di  Cristo
sulle   orme   di   Maria;   appartengono   alla
Famiglia  Carmelitana,  con  un  proprio  statuto
approvato  dall’Ordine  dei  Fratelli  Scalzi  della
B.V.    Maria    del    Monte    Carmelo.   <br/>
    Essi
intendono   attuare   un   apostolato   laico   nel
mondo   in   comunione   con   le   altre   realtà
dell’Ordine;   collaborano   con   l’Ordine   nella
formazione    di    persone    che    desiderano
trasformare   la   loro   vita   in   orazione,   a
testimonianza   della   loro   appartenenza   al
Carmelo  Teresiano  L’orazione  e  il  silenzio,
caratteristici  del  Carmelo  Teresiano,  sono  il
fondamento   spirituale   dell’apostolato   degli
appartenenti  al  Movimento  i  quali  fondano  la
loro spiritualità sui grandi maestri del Carmelo
Teresiano.  Chi  desidera  partecipare  alla  vita
del   Movimento   si   impegna   a   seguire   un
periodo  di  formazione  al  termine  del  quale
potrà  formulare  la  sua  domanda  di  iscrizione
al Movimento. </p>

