body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#eeeef4;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.hr1{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.hr2{
     border: 0;
     height: 0;
     border-top: 1px solid rgba(0, 0, 0, 0.1);
     border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.div1 {
    margin: auto;
    text-align: center;
}

    .div1 h4 {
        color: #628A81;
        margin-top: 0px;
        margin-bottom: 0px;
        font-weight: bold;
        font-style: italic;
    }

    .div1 div {
        float: left;
        border: thin solid #E5E5E5;
        margin: 15px;
        padding: 5px;
        background-color: #F9FBFA;
    }

    .div1 img {
        height: 200px;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
        transition: all 1s ease;
        -webkit-box-shadow: 0px 0px 8px #000;
        -moz-box-shadow: 0px 0px 8px #000;
        box-shadow: 0px 0px 8px #000;
        z-index: 1;
    }

        .div1 img:hover {
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            transition: all 1s ease;
            transition: all 1s ease;
            z-index: 999;
            box-shadow: 0px 0px 200px #fff;
        }

.div2 {
    border: solid 1px #c3c3c3;
    float: left;
    margin: 5px;
    border-radius: 4px;
    padding: 3px;
}

    .div2 img {
        width: 90%;
        margin: auto;
    }

.div4 {
    position:absolute;
    top:100%;
}

    .div4 div {
    }

    .div4 img {
        float: left;
        -webkit-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
        box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
        margin: 0px 20px 0px 15px;
        padding: 0;
        /*height: 90px;*/
    }

        .div4 img:hover {
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            transition: all 1s ease;
            transition: all 1s ease;
            z-index: 999;
            -webkit-box-shadow: 0px 0px 200px #fff;
            -moz-box-shadow: 0px 0px 200px #fff;
        }

.div5{
    width:100%;
    margin-top:10%;
    text-align:center;
    left:0;
    bottom:0;
    height:100%;
    top:50%
}
.div6{

}
.div6 h4{
            color: #628A81;
        margin-top: 0px;
        margin-bottom: 0px;
        font-weight: bold;
        font-style: italic;

}
.divVol{
    width:100%;
    margin-top:20px;
}

.divVol img{
        -webkit-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
        box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
        margin: 0px 20px 0px 15px;
        padding: 0;
        width: 100%;
}
.content {
    font-size: 0.9em;
    display: table;
}

.img-int {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -9000;
    min-height: 100px;
    min-width: 1050px;
}

.navbar-default {
    color:rgba(255, 255, 255, 0.00) !important;
    background-color:rgba(255, 255, 255, 0.0) !important;
    border:none !important;
}

.navbar-collapse {
    text-align: right !important;
}

.img-login {
    height: 50px;
    border: solid 2px #fff;
    border-radius: 50%;
    top: -30px;
    margin-top: -25px !important;
}

.img-usr {
    height: 50px;
    border: solid 2px #fff;
    border-radius: 50%;
}

.navi {
    padding-right: 20px;
}

    .navi div {
        padding-right: 5px;
    }

    .navi a {
        text-decoration: none;
        transition: all 0.8s ease;
        font-size: 1.2em;
    }

    .navi li {
        color: #fff !important;
    }

        .navi li div {
            font-size: 1.7em;
            padding: 12px 13px 0px 13px;
            z-index: 10;
            position: relative;
        }

    .navi a:hover {
        transition: all 0.8s ease;
        color: #22486F;
        -ms-transform: scale(1.5,1.5); /* IE 9 */
        -webkit-transform: scale(1.5,1.5); /* Chrome, Safari, Opera */
        transform: scale(1.5,1.5);
    }

    .navi li a span {
        transition: all 0.8s ease;
        color: #000;
        font-size: 0.1em;
        overflow: no-content;
        z-index: 20;
        -ms-transform: scale(0,0); /* IE 9 */
        -webkit-transform: scale(0,0); /* Chrome, Safari, Opera */
        transform: scale(0,0);
        display: none;
        background-color: rgba(235, 235, 235, 0.00);
    }

    .navi li a img {
        transition: all 0.8s ease;
    }

    .navi a:hover span {
        position: absolute;
        display: flex;
        transition: all 0.8s ease;
        text-shadow: 0px 0px 10px #fff;
        color: #22486F;
        -ms-transform: scale(5,5); /* IE 9 */
        -webkit-transform: scale(5,5); /* Chrome, Safari, Opera */
        transform: scale(5,5);
        margin-top: 12px;
        background-color: rgba(235, 235, 235, 0.80);
        padding: 0px 1px 1px 1px;
        border-radius: 1px;
    }

.tbl1 {
    width: 100%;
    border: none;
    border-collapse: unset !important;
    border-spacing: 5px;
}

    .tbl1 td {
        vertical-align:top;
        padding: 5px;
        border-radius: 3px;
        text-align: center;
        font-size:1.3em;
    }

    .tbl1 img {
        display: block;
        width: 100%;
        height:100%;
    }
    .tbl1 div{
        position:relative;
        display:block;
        width:100%;
    }
    .tbl1 h1{
        font-size:3em;
    }


#bg{
    position:absolute;
    width:100%;
    height:100%;
    left:0px;
    bottom:0px;
  background: url(Immagini/GalleriaHome/Sfondo/Home.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:-10000;
}

#bg1{
    position:absolute;
    width:100%;
    height:100%;
    left:0px;
    bottom:0px;
    background: -webkit-linear-gradient(#b1b1b1, #eeeef4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#b1b1b1, #eeeef4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#b1b1b1, #eeeef4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#b1b1b1, #eeeef4); /* Standard syntax */  /*background: url(Immagini/LogoVerticale.png) no-repeat center left fixed;*/ 
    z-index:-10000;
}

footer{
    position:fixed;
    bottom:0px;
    left:0px;
    background-color:rgba(255, 255, 255, 0.49);
}

.body-content{
    margin-top:5px;
}
.spot{
    color:#fff;
    font-size:3em;
    text-shadow:0px 0px 4px #000;
}
.galla {
}
.galla span:hover img{
-webkit-transform:scale(1.1); /*Webkit: Scale up image to 1.2x original size*/
-moz-transform:scale(1.1); /*Mozilla scale version*/
-o-transform:scale(1.1); /*Opera scale version*/
z-index:0;
 -ms-transform: scale(1.1); /* IE 9 */
 transition:all 1s ease;
}
.galla img {
    height:120px;
    margin:5px;
    text-align: center;
    vertical-align: bottom;
    border-radius:4px;
    -webkit-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    4px 4px 5px rgba(50, 50, 50, 0.75);
    box-shadow:         4px 4px 5px rgba(50, 50, 50, 0.75);
    float:left;
 transition:all 1s ease;
}

.gallaDel{

}
.gallaDel img{
    max-height:400px;
    margin:5px;
    border-radius:4px;
    -webkit-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    4px 4px 5px rgba(50, 50, 50, 0.75);
    box-shadow:         4px 4px 5px rgba(50, 50, 50, 0.75);

}

.galla1 {
    background-color:#fff;
    border-radius:5px;
    margin:5px;
    padding:5px;
    border:solid 1px #b1b1b1;
 }
.galla1:hover img{
-webkit-transform:scale(0.8); /*Webkit: Scale up image to 1.2x original size*/
-moz-transform:scale(0.8); /*Mozilla scale version*/
-o-transform:scale(0.8); /*Opera scale version*/
 -ms-transform: scale(0.8); /* IE 9 */
-moz-box-shadow:1px 1px 30px gray; /*Mozilla shadow version*/
z-index:0;
            opacity: 0.2; 
            box-shadow: 0px 0px 10px 5px #716556;
            -webkit-box-shadow: 0px 0px 10px 5px #716556;
            -moz-box-shadow: 0px 0px 10px 5px #716556;
 transition:all 1s ease;
}
.galla1 img {
    height:120px;
    margin:5px;
    text-align: center;
    vertical-align: bottom;
    border-radius:4px;
    -webkit-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    4px 4px 5px rgba(50, 50, 50, 0.75);
    box-shadow:         4px 4px 5px rgba(50, 50, 50, 0.75);
 transition:all 1s ease;
}
.gallaVol{
}
.gallaVol img{

    margin:5px;
    border-radius:4px;
    -webkit-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    4px 4px 5px rgba(50, 50, 50, 0.75);
    box-shadow:         4px 4px 5px rgba(50, 50, 50, 0.75);

}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
